{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "env": {
    "browser": false,
    "node": true,
    "mocha": false
  },
  "globals": {
  },
  "rules": {
    "no-throw-literal": 0
  },
}
